<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun.springbootdemo.mapper.EntitiesConfigMapper">

    <select id="selectUserInfo" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * from cic_user user where IFNULL(`user`.gender ,'0')!= '0' and `user`.creator = #{creator,jdbcType=VARCHAR}
    </select>

    <select id="selectInfo" resultType="com.sun.springbootdemo.service.entities.City">
        select * from cic_user_info;
    </select>
    <select id="selectOne" resultType="java.lang.String">
        select a.cic_city from cic_user_info a where a.cic_user_id = #{userId,jdbcType=VARCHAR};
    </select>
</mapper>