<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun.springbootdemo.mapper.UserMapper">
    <resultMap id="UserBaseResultMap" type="com.sun.springbootdemo.entities.User">
        <id property="id" jdbcType="BIGINT" column="user_id"/>
        <id property="username" jdbcType="VARCHAR" column="user_name"/>
        <id property="age" jdbcType="INTEGER" column="user_age"/>
        <id property="password" jdbcType="VARCHAR" column="user_password"/>
        <id property="date" jdbcType="TIMESTAMP" column="update_time"/>
        <!--        <association property="role" javaType="com.sun.springbootdemo.entities.Role" column="role_id"-->
        <!--                     select="com.sun.springbootdemo.mapper.RoleMapper.selectOne"/>-->
        <collection property="role" column="role_id" select="com.sun.springbootdemo.mapper.RoleMapper.selectAll"/>
    </resultMap>


    <select id="selectAll" resultMap="UserBaseResultMap">
         SELECT * from pr_user;
    </select>
    <select id="selectOne" parameterType="string" resultMap="UserBaseResultMap">
         SELECT * from pr_user where user_name = #{userName, jdbcType = VARCHAR};
    </select>
</mapper>